.student-id-section{
	box-shadow: 2ch;
    background-color: #e7e7f3;
    text-align: center;
    padding: 5px;
}
.discription{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn-div{
	margin-left: 100px;
}
