.student-id-section{
	box-shadow: 2ch;
    background-color: #e7e7f3;
    text-align: center;
    padding: 5px;
}
.discription{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.btn-div{
	margin-left: 100px;
}
.btn{
    color: white;
    background-color: blue;
    padding: 6px 10px;
}
